@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f8f9;
  --foreground: #171717;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.construct {
  background-image: url("/images/construct.jpg");
  background-size: cover;
  background-position: center top;
}
