@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: primary;
  src: url(/images/ArgentParadiseDemoVersion-WporE.otf);
}

:root {
  --background: #f9f8f9;
  --foreground: #374151;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Oswald", sans-serif;
}
.construct {
  background-image: url("/images/construct.jpg");
  background-size: cover;
  background-position: center top;
}
.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/about-banner.png");
  background-size: cover;
  background-position: center center;
  filter: brightness(50%);
}
.button {
  width: 250px;
  height: 54px;
  background-color: #3cb9d1;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  border-radius: 10px;
}
